
body.dark-mode {
    background-color: #090909;
    color: #ffffff;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-but {
    background: rgb(255, 255, 255);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.dark-mode .dark-but {
    background-color: black;
}

.dark-but .fa-sun {
    color: yellow;
    transition:all 1s ease-in-out;
    font-size: 24px;
}

.dark-but .fa-moon {
    color: black;
    font-size: 24px;
    transition: all 1s ease-in-out;

}

.fa-sun {
    transform: rotate(180deg);
}
.fa-moon:active {
    transform: rotate(180deg);
}