.dark-but {
    height: 55px;
    width: 55px;
    background-color: rgb(255, 110, 110);
    outline: none;
    color: white;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.dark-but i {
    font-size: 22px;
}

.dark-but:hover {
    color: black;
    background-color: white;
    transform: rotate(90deg);
}