.add-transaction {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 50%;
    right: 25%;
    bottom: 0%;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 10px 0px rgb(13, 13, 13);
    border-radius: 16px;
    border: 3px dashed white;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 16px;
}

.add-trans {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 193, 255);
    padding: 10px 0px;
    width: 50%;
    border-radius: 16px 0px 0px 16px;
}

.add-plus {
    background-color: rgb(0, 255, 0);
    border-radius: 0px 16px 16px 0px;

}

.trans {
    background-color: white;
    padding: 3px 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 0px rgb(124, 124, 124);
    cursor: pointer;
}