.modal-overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.center {
    text-align: center;
    font-variant: small-caps;
}

.modal-content {
    padding: 15px;
    border-radius: 8px;
    position: relative;
    width: 400px;
    max-width: 100%;
}

.dark-mode label {
    color: white;
}

.dark-mode input {
    color: rgb(227, 227, 227);
}

.close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

.modal-content form div {
    margin-bottom: 10px;
    color: rgb(36, 36, 36);
}

.modal-content form label {
    display: block;
    margin-bottom: 5px;
}

.modal-content form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.input-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input {
    border: 1px dotted grey;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: inherit;
}

.submit-button {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin-top: 10px;
    padding: 3px 6px;
    background-color: rgb(255, 69, 69);
    color: white;
    border: 1px dotted rgb(79, 79, 79);
    border-radius: 5px;
    cursor: pointer;
}